* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Poppins";
  min-height: 100vh;
  background: #1c92d2;
  background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2);
  background: linear-gradient(to top, #f2fcfe, #1c92d2);
  color: white;
}

input[value=""]:not(:focus) {
  color: transparent;
}
